*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: black;
}

.webgl
{
    position: fixed;
    top: 0;
    right: 0;
    outline: none;
    z-index: 0;
}

.container {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1600px;
    padding: 0 15px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
